/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body{
    padding: 30px;
    /* background-image: url(../assets/images/pexels-photo-2054144.jpg); */
    background-color: #8D8741;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    max-width: 53em;
  }
}

.faculty-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#main-title {
  color: #FFDE7A;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,'Patua One', monospace;
  text-align: center;
  font-size: 4rem
}

h2 {
  font-family: 'EB Garamond', serif;
}

.section {
  border-radius: 25px;
  padding: 10px;
  border: 5px solid;
  margin: 10px;
  max-width: 48em;
  border-style:double;
}

#courses {
  background-color: #FBEEC1;
  font-family: 'Marcellus', sans-serif;
}

#pslo {
  background-color: #FBEEC1;
  font-family: 'Marcellus', sans-serif;
}

#faculty {
  background-color: #FBEEC1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#faculty>ul>li {
  display: inline-block;
  font-family: sans-serif;
  padding: 30px;
}

#faculty-list {
  /* padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* This tell's the flex items to wrap if there
                      isn't enough space for all of the items. Without this the
                      faculty images will be in a row and only resize well unitl around
                      550px width of screen. */
  /* justify-content: center;
  align-content: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.name {
font-family: 'Dancing Script', cursive;
font-size: 2rem;
}

.office {
font-family: 'Marcellus', sans-sans-serif;;
}

img.pic {
  width: 100%;
  border: 4px solid;
  border-color: rgb(33, 79, 105);
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFDE7A;
}

#style li {
  float: left; /*explore what happens if this is 'right' instead*/
}

#style li a {
  display: block;
  color: rgb(33, 79, 105);
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
}

/* Change the link background color to #000 (black) on hover */
#style li a:hover {
  background-color: #000;
}

#style {
  position: fixed;
  background-color: #8D8741;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
  padding-top: 10px;
}

#validation {
font-size: 80%;
background-color: #FBEEC1;
border-radius: 10px;
border:5px double;
padding: 25px;
}

.tool-list {
  border-radius: 10px;
  border: 5px double;
  margin: 10px;
  max-width: 20em;

}

#rqstyle{
  background-color: #FBEEC1
}

.tools_title{
  color:rgb(33, 79, 105);
  text-align: center;
  text-decoration: underline;
}

#cc{
  font-size: 12pt;
  padding-right: 43px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
}

#lc{
  display: flex;
  padding-right: 43px;
  justify-content: left;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
}



.information-header{
  font-size: 40pt;
  color: rgb(33, 79, 105);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.testing{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12pt;
}

.ide{
  font-family: fantasy;
}

a:hover{
  background-color: #8D8741;
}

a:link{
  color: rgb(33, 79, 105);
}

a:visited{
  color: purple;
}

.version-control{
  font-size: 12pt;
  font-style: italic;
  font-family: cursive;
}


